.button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: medium none;
    padding: 0 15px 1px;
    height: 40px;
    border-radius: var(--w3m-button-border-radius);
    color: var(--w3m-accent-fill-color);
    background-color: var(--w3m-accent-color);
    box-sizing: border-box;
}

.button:disabled {
    padding-bottom: 0px;
    background-color: var(--w3m-color-bg-3);
    color: var(--w3m-color-fg-3);
    cursor: not-allowed;
}

.button.loading {
    padding-bottom: 0px;
    background-color: var(--w3m-color-bg-3);
    color: var(--w3m-color-fg-3);
    cursor: not-allowed;
}

.button::after {
    background-color: transparent;
    transition: background-color 0.2s ease 0s;
    content: "";
    inset: 0;
    position: absolute;
    border-radius: inherit;
}

.button:hover::after {
    background-color: var(--w3m-color-overlay);
}

.text {
    font-family: var(--w3m-font-family);
    font-weight: var(--w3m-text-medium-regular-weight);
    font-size: var(--w3m-text-medium-regular-size);
    line-height: var(--w3m-text-medium-regular-line-height);
    letter-spacing: var(--w3m-text-medium-regular-letter-spacing);
    text-transform: var(--w3m-text-medium-regular-text-transform);
    font-feature-settings: "tnum", "lnum", "case";
}

.text.loading {
    color: var(--w3m-accent-color);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.spinner:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: rotate 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}

.spinner circle {
    stroke-linecap: round;
    animation: dash 1.5s ease infinite;
}

.spinner circle.accent {
    stroke: var(--w3m-accent-color);
}

.spinner circle.fill {
    stroke: var(--w3m-accent-fill-color);
}

.icon {
    margin-right: 6px;
    margin-left: -5px;
}